.wrapper {
    background: #1b2d3c;
    background-size: 200% 100%;
    background-image: linear-gradient(to right,#234a71 0%,#101519 51%,#151d25 100%);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main {
    max-width: 1170px;
}
// .get-bookmark {
//     background: linear-gradient(to right,#063458,#1c5e94);
// }
